.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.section {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  font-family: 'Cabin', sans-serif;
  color: #ffeded;
  text-transform: uppercase;
  font-size: 7vmin;
  padding-left: 10%;
  padding-right: 10%;
}

section:nth-child(odd) {
  justify-content: flex-end;
}

.index-page {
  padding: 2rem 4rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}

.loading-bar {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scaleX(0);
  /* changer the scale in js */
  transform-origin: top left;
  transition: transform 0.5s;
  will-change: transform;
}

/* when loading ended, make the bar dispear to the right */
.loading-bar.ended {
  transform: scaleX(0) !important;
  transform-origin: 100% 0;
  transition: transform 1.5s ease-in-out;
}
